<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Monsters - Login</title>

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "Inter", "sans-serif";
        }

        .container {
            background: #010b00;
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
        }

        .container .left {
            padding-bottom: 30px;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            flex: 1;
        }

        .container .left h2 {
            color: #94a3b8;
            font-size: 5.8rem;
            font-weight: 700;
            margin-bottom: 40px;
        }

        .container .left h2 span {
            color: #7c3aed;
            font-weight: 700;
        }

        .container .left .left-header__bottom {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .container .left .left-header__bottom span:first-child {
            font-weight: 600;
            color: #e2e8f0;
            font-size: 1.875rem; /* 30px */
            line-height: 2.25rem; /* 36px */
        }

        .container .left .left-header__bottom span:last-child {
            color: #94a3b8;
            margin-top: 8px;
            font-size: 0.875rem; /* 14px */
            line-height: 1.25rem; /* 20px */
        }

        .container .left span {
            color: gray;
        }

        .error-container {
            display: flex;
            justify-content: center;
            color: rgb(114, 33, 33);
            font-weight: 500;
            font-size: 0.875rem; /* 14px */
            line-height: 1.25rem; /* 20px */
        }

        .container .right {
            flex: 1;
        }

        .container .right img {
            height: 90%;
            width: 90%;
            object-fit: contain;
        }

        @media (min-width: 0px) and (max-width: 1280px) {
            .container .right {
                display: none;
            }
        }

        @media (min-width: 0px) and (max-width: 400px) {
            .container .left h2 {
                text-align: center;
                font-size: 3.4rem;
                font-weight: 700;
                margin-bottom: 40px;
            }

            .container .left .left-header__bottom span:first-child {
                font-weight: 600;
                color: #e2e8f0;
                font-size: 1.375rem; /* 30px */
                line-height: 2.25rem; /* 36px */
            }

            .container .left .left-header__bottom span:last-child {
                color: #94a3b8;
                margin-top: 8px;
                font-size: 0.775rem; /* 14px */
                line-height: 1.25rem; /* 20px */
            }
        }

        @media (min-width: 400px) and (max-width: 500px) {
            .container .left h2 {
                text-align: center;
                font-size: 3.3rem;
                font-weight: 700;
                margin-bottom: 40px;
            }

            .container .left .left-header__bottom span:first-child {
                font-weight: 600;
                color: #e2e8f0;
                font-size: 1.375rem; /* 30px */
                line-height: 2.25rem; /* 36px */
            }

            .container .left .left-header__bottom span:last-child {
                color: #94a3b8;
                margin-top: 8px;
                font-size: 0.775rem; /* 14px */
                line-height: 1.25rem; /* 20px */
            }
        }
    </style>
</head>


<body>
<div class="container">
    <div class="left">
        <div class="left-header">
            <h2><span>M</span>onsters</h2>
            <div class="left-header__bottom">
                <span>Wild error occurred!</span>
                <span class="error-container"><%= name; %></span>
                <span><%= message; %></span>
            </div>
        </div>
    </div>
    <div class="right">
        <img src="/public/images/monsters-bg_3.jpg" alt="bg3" />
    </div>
</div>
</body>
</html>
