<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

</head>
<body>
<div class="nlogin-container">
    <form action="<%= url %>" method="post">
        <label for="login">
            Login
            <input id="login" name="login" placeholder="Name" type="text">
        </label>

        <label for="password">
            Password
            <input id="password" name="password" placeholder="Password" type="password">
        </label>

        <button type="submit">Sand</button>
    </form>
</div>
<div style="display: block;">
    <div class="footer_navi" style="z-index:10;">
                <span class="ui-btn-text" style="z-index:10;">
                    <h2>Test</h2>
                </span>
    </div>
</div>
</body>
</html>
